@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


@import "tailwindcss";


:root {
  --background: #12181f;
  --foreground: #ededed;
  --font-lexend: sans-serif; 
  --font-silkscreen: 'Silkscreen', sans-serif; 
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-lexend), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #12181f;
    --foreground: #ededed;
    --menu: #171F28;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);


}

/* Keyframes de Animação */
@keyframes slide-in-left {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 0.5; }
}

@keyframes slide-in-down {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 0.5; }
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 0.6; transform: scale(1); }
}

@keyframes slide-in-right {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 0.4; }
}

/* Classes de Animação */
.animate-slide-in-down {
  animation: slide-in-down 1s ease-out forwards;
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 1s ease-out forwards;
}

.delay-500 {
  animation-delay: 0.5s;
}

/* Animações contínuas e outras */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-continuous-spin {
  animation: spin 10s linear infinite;
}

@keyframes wiggle {
  0% { transform: rotate(-3deg); }
  50% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}

@keyframes pulse {
  0% { opacity: 0.7; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(1.05); }
  100% { opacity: 0.9; transform: scale(1); }
}

.animate-pulse {
  animation: pulse 10s ease-in-out infinite;
}

@keyframes slide-in-and-out {
  0% { transform: translateX(-10%); opacity: 1; }
  50% { transform: translateX(10%); opacity: 1.0; }
  100% { transform: translateX(-20%); opacity: 1; }
}

.animate-slide-in-and-out {
  animation: slide-in-and-out 4s ease-in-out infinite alternate;
}